h1{
   font-family: "Trebuchet MS", sans-serif;
   font-size: 5em;
   color: rgb(25, 65, 151);
   margin-left: 3rem;
   margin-right: 3rem;
   letter-spacing: -2px;
   border-bottom: 2px solid rgb(24, 77, 190);
   text-transform: uppercase;
}